<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Register', new_user_registration_path %> </p>
<p><%= link_to 'Report an Illness Incident', new_incident_path %> </p>
<p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </p>