              
<div class="container">
    
    <nav class="navbar fixed-top" style="background-color: #d9ffb3;">
         <a class="navbar-brand" href="#">COMMUNITY  HEALTH</a>
        <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </p>
    </nav>


    <nav id="navbar" class="navbar navbar-expand-sm" style="background-color: #d9ffb3;">>
        <a class="navbar-brand" href="#"></a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                 <a class="nav-item nav-link active" href="#"> Home <span class="sr-only">(current)</span></a>
                 <a class="nav-item nav-link" href="/users/sign_up">Register<span class="sr-only">Register</span></a>
                 <a class="nav-item nav-link" href="/users/sign_in">Sign-In<span class="sr-only">Sign In</span></a> 
                 <a class="nav-item nav-link" href="/incidents">View-Incidents<span class="sr-only">View Incidents</span></a>
                 <a class="nav-item nav-link" href="/incidents/new">Report-Illness-Incident<span class="sr-only">Report an Illness Incident</span></a>
                
            </div>
        </div>
    </nav>

    
    <div class="col-sm-8">
        <div class="jumbotron">
              <h1 class="display-4"><strong>Welcome to Community Health!</strong></h1>
              <p class="lead">We are tracking illnesses geographically on our master map.  Please register as a User to be able to <strong>Report An Illness</strong> to be added to our map.</p>
              <hr class="my-4">
              <p>Check out our map showing the currently logged illness occurrences.</p>

              <p id="learn">
                  <a class="btn btn-success" href="#" role="button">Learn more on our Map</a>
              </p>
              
        </div>
        
    </div>
    
    <div class="col-sm-4">
<!--         <img class="irc_mi" src="http://www.clipartmasters.com/clip-arts/581/health-and-wellness-clip-art-free-581233.jpg" alt="Image result for images of health and wellness" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="376" height="393" style="margin-top: 0px;"> -->
    </div>
</div>


<!-- 
<h3>Welcome</h3>
    <p><%= link_to 'Users:', users_path %> <%= User.count %>registered</p>
    <p><%= link_to 'Register', new_user_registration_path %> </p>
    <p><%= link_to 'Report an Illness Incident', new_incident_path %> <%= Incident.count %> incidents reported </p>
    <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </p>
       -->
