<%= form_with(model: incident, local: true) do |form| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :incident_category %>
  </div>

  <div class="field">
    <%= form.label :street_address_1 %>
    <%= form.text_field :street_address_1, id: :incident_street_address_1 %>
  </div>

  <div class="field">
    <%= form.label :street_address_2 %>
    <%= form.text_field :street_address_2, id: :incident_street_address_2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :incident_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :incident_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :incident_zip %>
  </div>

  <div class="field">
    <%= form.label :occurred_on %>
    <%= form.text_field :occurred_on, id: :incident_occurred_on %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.date_select :, id: :incident_ %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :incident_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :incident_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
